<!--<form action="/search-results/" method="get" data-search-index="false">
 <input type="text" name="q" placeholder="Search" id="tipue_search_input" />
</form>-->
  <div class="feature-header">
  <section class="feature">
  <span>Checkout Our Generosity Campaign <a href="{{ cms.holdingpage.support_us_link }}">Here</a></span>
  </section>
  </div>

<header> 
<span class="translate">{% if page_class == 'espanol' %} View in <a href="/">English</a>{% else %} Vista en <a href="/espanol">Español </a>{% endif %}</span>

<a href="/">Support.fm</a>

<div class="tagline"> 
 <span>{% if page_class == 'espanol' %}{{ cms.holdingpagespanish.tagline|markdown }}{% else %}{{ cms.holdingpage.tagline|markdown }} {% endif %}</span>
</div>

</header>