{# ------------------------------------------------------- #}
{# ONE OFF VIEW espanol #}
{# This page can use any data from http:localhost:2000/cms/#/form/espanol/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this espanol's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.holdingpagespanishspanish.name }}{% endblock %}
{% set page_class = 'espanol' %}
{% block content %}
<section class="goals grey">
<div class="wrap">
  <h1>Our Goal</h1>
  <span>{{ cms.holdingpagespanish.goals|markdown }}</span>
</div>
</section>

<section class="why-now">
<div class="wrap">
  <h1>{{ cms.holdingpagespanish.why_now_heading }}</h1>
  <span>{{ cms.holdingpagespanish.why_now_blurb|markdown }}</span>
</div>
</section>   

<section class="why">
<div class="wrap">
  <h1>{{ cms.holdingpagespanish.why_heading }}</h1>
  <span>{{ cms.holdingpagespanish.why_blurb|markdown }}</span>
</div>
</section>  

<section class="how">
<div class="wrap">
  <h1>{{ cms.holdingpagespanish.how_heading }}</h1>
  <span>{{ cms.holdingpagespanish.how_blurb|markdown }}</span>
</div>
</section>  

<section class="who grey">
<div class="who-wrap">
<h1>Quienes Somos?</h1>

 <!-- <img class="team-photo" src="{{ cms.holdingpagespanish.group_photo|imageCrop(0) }}"> -->


  <span>{% for row in cms.holdingpagespanish.who_we_are %}</span>
    <div class="profile">
    <h2>{{ row.name }}</h2>
    <span>{{ row.bio }}</span>
    <!-- <img src="{{ row.headshot|imageSize(200, 200) }}"> -->
  </div>{% endfor %}
  
</div>
 </section>

<section class="roadmap" id="roadmap">
<div class="wrap">

<h1>Nuestra Hoja De Ruta​</h1>

<div id="timeline">
  <ul>
        {% for row in cms.holdingpagespanish.roadmap %}
      <li>
      
      <div class="bullet"></div>
      
      <div class="timeline-row">
        
        <span class="number">${% filter replace("[0-9](?=(?:[0-9]{3})+(?![0-9]))", "$&,", "g") %}
      {{ row.number }}
        {% endfilter %}</span>
        
        <div class="timeline-text"> {{ row.paragraph_text }}</div>
    
    </div>
      </li>
        {% endfor %}
    </ul>
</div>

<a href="#" class="donate-button">Donar</a>


<div id="contact-form">

<h1 class="contact-header">Contacto</h1>

<form accept-charset="UTF-8" action="https://formkeep.com/f/dd4d5232c670" method="POST">
  
  <div class="name">
  <span>Nombre</span>
  <input id="name" name="name" type="text" class="field text fn" value="" size="8" tabindex="1">
  </div>
  
  <div class="email">
  <span>Correo Electrónico</span>
  <input id="email" name="email" type="email" spellcheck="false" value="" maxlength="255" tabindex="3"> 
  </div>
    
  <div class="message">
  <span>Mensaje</span>
  <textarea id="message" name="message" rows="10" cols="50" tabindex="4"></textarea>
  </div>
  
<input id="saveForm" name="saveForm" type="submit" value="Enviar">
  
</form>

</div>

</div>


</div>
</section>
  
    <div class="feature-footer">
  <section class="feature">
  <span>{{ cms.holdingpagespanish.footer_text|safe }}</span>
  </section>
  </div>
        
{% endblock %}
