<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

  {% set site_title = getSetting('site_name')%}
  {% set site_description = getSetting('site_description')%}
	
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>support.fm/express</title>
    <meta name="description" content="Move Money Now">
    <meta name="viewport" content="width=device-width">
    <meta name="google-site-verification" content="mC8KWZzc7g_hU9CDFOIF-pnWs3pTzND4MLlTzTaIHd8" />
    <meta property="og:image" content="/static/images/express-fb.png"/>
    <link rel="shortcut icon" href="/static/images/express-favicon.png">
		
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i|Space+Mono:400,400i,700,700i" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="/static/css/express-main.css" media="screen,projection"/>
		
    <!-- build:css /static/css/minified.css -->
    <link rel="stylesheet" href="/static/css/wysiwyg_figures.css"/>
    <!-- endbuild -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/javascript/materialize.min.js"></script>
		<script type="text/javascript" src="/static/javascript/jquery.cookie.js"></script>

    {% block head_extra %}{% endblock %}
		
  </head>
  <body {% block body_attributes %}{% endblock %}>
    {% block body %}
      <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->
      
       <nav class="nav-extended">
    <div class="nav-wrapper black">
      <a href="#" class="brand-logo center">support.fm/express</a>
      <ul id="nav-mobile" class="left">
	      <li><a> </a></li>
      </ul>
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#about-modal">About</a></li>
        <li class="tab"><a href="#pledge">Pledge</a></li>
      </ul>
    </div>
  </nav>

      {# By default, your inner pages will load into this block. #}
      {% block content %}
      
      
      
      			<!-- Modal Structure -->
			  <div id="about-modal" class="modal">
			    <div class="modal-content flow-text">

					<h3>{{ cms.aboutexpress.name }}</h3>

					{{ cms.aboutexpress.wysiwyg_text|safe }}
				    
			    </div>
			  </div>

{{ cms.posts.name|first }}

	  {% set data = cms.orgprofiles %}
		{% set data = data|sort('publish_date', true) %}
		{% set data = paginate(data, 18) %}
		
	    <div class="container main">
		    
			<div class="row">
	      <div class="col s12 m10 l10">
		      
		      <h5>Organization Profile</h5>
		      {% for object in data %}
		      <div class="card-panel white">
					<h4>{{ object.name }}</h4>
					{{ object.wysiwyg_text|safe }}
					<a href="{{ object.donate_link }}" class="profile-donate">Donate Now</a>
		      </div>
		      {% endfor %}
	      </div>
	      
	       
	       
	<!-- <div class="col s12 m4 offset-m1 l4 offset-l1">		
	
	
	  <ul>
	    {# {% for object in data %} #}
	      <li><a href="{{ url(object) }}">{{ object.name }}</a></li>
	   {#  {% endfor %} #}
	  </ul>
		 {# {% include "templates/partials/paginator.html" %} #}
		      
	      </div>
	      -->
	      
	      <div class="col m2 l2">
			      <img class="stamp" src="/static/images/express-stamp.png" width="100px" height="auto">
	      </div>
	      
	    </div>
		    
		    
	    </div>
	    
	    <div class="list-wrapper">
	    	<iframe class="airtable-embed" src="https://airtable.com/embed/shrTLlxaWGIDNgaEM?backgroundColor=transparent&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="100%" style="background: transparent; border: 1px solid #ccc;"></iframe>
	    </div>

	    
	      <!-- Modal Trigger -->
  <a id="pledge-btn" class="waves-effect waves-light black btn" href="#pledge">Pledge</a>

  <!-- Modal Structure -->
  <div id="pledge" class="modal bottom-sheet">
    <div class="modal-content">
       
       <iframe class="airtable-embed" src="https://airtable.com/embed/shrgZJhYjSJFO1PPQ?backgroundColor=transparent" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
       
    </div>
  </div>

      
      
      
      
      
      
      {% endblock %}

      {% block footer %}
        {% include "templates/partials/footer.html" %}
      {% endblock %}

      <!-- build:js /static/javascript/minified.js -->
      <!-- endbuild -->

      {% block scripts_extra %}{% endblock %}


    {% endblock %}
		
		 <script src="/static/javascript/express.main.js"></script>
		
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72933335-2', 'auto');
  ga('send', 'pageview');

</script>

  </body>
</html>