{% extends "templates/partials/base.html" %}

{% block title %}{% parent %}{% endblock %}

{% block content %}


<section class="goals grey">
<div class="wrap">
  <h1>Our Goal</h1>
  <span>{{ cms.holdingpage.goals|markdown }}</span>
</div>
</section>

<section class="why-now">
<div class="wrap">
  <h1>{{ cms.holdingpage.why_now_heading }}</h1>
  <span>{{ cms.holdingpage.why_now_blurb|markdown }}</span>
</div>
</section>   

<section class="why">
<div class="wrap">
  <h1>{{ cms.holdingpage.why_heading }}</h1>
  <span>{{ cms.holdingpage.why_blurb|markdown }}</span>
</div>
</section>  

<section class="how">
<div class="wrap">
  <h1>{{ cms.holdingpage.how_heading }}</h1>
  <span>{{ cms.holdingpage.how_blurb|markdown }}</span>
</div>
</section>  

<section class="who grey">
<div class="who-wrap">
<h1>Who are we?</h1>

 <!-- <img class="team-photo" src="{{ cms.holdingpage.group_photo|imageCrop(0) }}"> -->


  <span>{% for row in cms.holdingpage.who_we_are %}</span>
  	<div class="profile">
    <h2>{{ row.name }}</h2>
    <span>{{ row.bio }}</span>
    <!-- <img src="{{ row.headshot|imageSize(200, 200) }}"> -->
  </div>{% endfor %}
  
</div>
 </section>

<section class="roadmap" id="roadmap">
<div class="wrap">

<h1>Our Roadmap</h1>

<div id="timeline">
	<ul>
        {% for row in cms.holdingpage.roadmap %}
      <li>
      
      <div class="bullet"></div>
      
      <div class="timeline-row">
	      
	      <span class="number">${% filter replace("[0-9](?=(?:[0-9]{3})+(?![0-9]))", "$&,", "g") %}
		  {{ row.number }}
        {% endfilter %}</span>
	      
	      <div class="timeline-text"> {{ row.paragraph_text }}</div>
	  
	  </div>
      </li>
        {% endfor %}
    </ul>
</div>

<div id="updates-list">
	<h2>Updates:</h2>
  
   {% set data = cms.updates %}
   {% set data = data|sort('publish_date', true) %}
   {% set data = paginate(data, 5) %}
  
  <ul>
    {% for object in data %}
      <li><span class="date">{{ object.publish_date|date('m/d/Y') }}</span><a href="{{ url(object) }}">{{ object.name }}</a></li>
    {% endfor %}
  </ul>

</div>

<div class="wrap">

<div id="contact-form">

<h1 class="contact-header">Stay Updated</h1>

<form accept-charset="UTF-8" action="https://formkeep.com/f/5bfc198c7f1c" method="POST">
  <div class="email">
  <span>Email</span>
  <input id="email" name="email" type="email" spellcheck="false" value="" maxlength="255" tabindex="3"> 
  </div>
  <input id="saveForm" name="saveForm" type="submit" value="Submit">
</form>
<br><br><br>

<h1 class="contact-header">Contact Us</h1>

<form accept-charset="UTF-8" action="https://formkeep.com/f/82085de02a46" method="POST">
  
  <div class="name">
  <span>Name</span>
  <input id="name" name="name" type="text" class="field text fn" value="" size="8" tabindex="1">
  </div>
  
  <div class="email">
  <span>Email</span>
  <input id="email" name="email" type="email" spellcheck="false" value="" maxlength="255" tabindex="3"> 
  </div>
    
  <div class="message">
  <span>Message</span>
  <textarea id="message" name="message" rows="10" cols="50" tabindex="4"></textarea>
  </div>
  
<input id="saveForm" name="saveForm" type="submit" value="Submit">
  
</form>

</div>

</div>


<a href="https://www.generosity.com/community-fundraising/support-fm--3" class="donate-button">Donate</a>

</div>
</section>

  
    <div class="feature-footer">
  <section class="feature">
  <span>{{ cms.holdingpage.footer_text|safe }}</span>
  </section>
  </div>
        
     
      

{% endblock %}
