{% extends "templates/partials/base.html" %}

{% block title %}{% parent %}{% endblock %}

{% block content %}


<section class="goals grey">
<div class="wrap">
  <h1>Our Goal</h1>
  <span>{{ cms.holdingpage.goals|markdown }}</span>
</div>
</section>

<section class="why-now">
<div class="wrap">
  <h1>{{ cms.holdingpage.why_now_heading }}</h1>
  <span>{{ cms.holdingpage.why_now_blurb|markdown }}</span>
</div>
</section>   

<section class="why">
<div class="wrap">
  <h1>{{ cms.holdingpage.why_heading }}</h1>
  <span>{{ cms.holdingpage.why_blurb|markdown }}</span>
</div>
</section>  

<section class="how">
<div class="wrap">
  <h1>{{ cms.holdingpage.how_heading }}</h1>
  <span>{{ cms.holdingpage.how_blurb|markdown }}</span>
</div>
</section>  

<section class="who grey">
<div class="who-wrap">
<h1>Who are we?</h1>

 <!-- <img class="team-photo" src="{{ cms.holdingpage.group_photo|imageCrop(0) }}"> -->


  <span>{% for row in cms.holdingpage.who_we_are %}</span>
  	<div class="profile">
    <h2>{{ row.name }}</h2>
    <span>{{ row.bio }}</span>
    <!-- <img src="{{ row.headshot|imageSize(200, 200) }}"> -->
  </div>{% endfor %}
  
</div>
 </section>

<section class="roadmap" id="roadmap">
<div class="wrap">

<h1>Our Roadmap</h1>

<div id="timeline">
	<ul>
        {% for row in cms.holdingpage.roadmap %}
      <li>
      
      <div class="bullet"></div>
      
      <div class="timeline-row">
	      
	      <span class="number">${% filter replace("[0-9](?=(?:[0-9]{3})+(?![0-9]))", "$&,", "g") %}
		  {{ row.number }}
        {% endfilter %}</span>
	      
	      <div class="timeline-text"> {{ row.paragraph_text }}</div>
	  
	  </div>
      </li>
        {% endfor %}
    </ul>
</div>

<a href="#" class="donate-button">Donate</a>

</div>
</section>
  
    <div class="feature-footer">
  <section class="feature">
  <span>{{ cms.holdingpage.footer_text|safe }}</span>
  </section>
  </div>
        
     
      

{% endblock %}
