{# ------------------------------------------------------- #}
{# ONE OFF VIEW thankyou #}
{# This page can use any data from http:localhost:2000/cms/#/form/thankyou/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this thankyou's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ cms.thankyou.name }}{% endblock %}
{% block content %}

<div class="ani-con">
<div class="Rainbow-stripe-container">
  <span class="Rainbow-stripe Rainbow-stripe--violet"></span>
  <span class="Rainbow-stripe Rainbow-stripe--indigo"></span>
  <span class="Rainbow-stripe Rainbow-stripe--blue"></span>
  <span class="Rainbow-stripe Rainbow-stripe--green"></span>
  <span class="Rainbow-stripe Rainbow-stripe--yellow"></span>
  <span class="Rainbow-stripe Rainbow-stripe--orange"></span>
  <span class="Rainbow-stripe Rainbow-stripe--red"></span>
</div>
</div>

<div class="thanks"> {{ cms.thankyou.paragraph_text|markdown }} </div>



{% endblock %}
