{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH updates #}
{# This page can use any data from http:localhost:2000/cms/#/form/updates/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this updates's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block content %}

<article>
  <span class="all-updates"><a href="{{ url('updates') }}">All updates</a></span>
  <span class="date">{{ item.publish_date|date('F d Y') }}</span>
  <h1>{{ item.name }}</h1>
  
  
	<div class="update-body">
        {{ item.body_text|safe }}
	
        <ul>
          {% for image in item.gallery %}
            <li>
              {# You can get the raw image url by accessing image.url #}
              <img src="{{ image|imageSize(200, 200) }}">
              <div>{{ image.caption }}</div>
            </li>
          {% endfor %}
        </ul>
        
	</div>
	
</article>

{% endblock %}
